body {
    background-color: rgb(7, 7, 32);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

nav {
    display: flex;
    border: 1;
    background-color:rgb(10, 10, 49);
}

div{
    background-color: rgb(11, 11, 54);
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    border: 1;
    border-color: black;
}

button{
    background-color: blueviolet;
    color: #ffffff;
}